.sobremi{
    background-color: #1e2326; 
    color: #fff;
    padding: 50px 20px;
    h2{
        font-size: 42px;
        font-family: "Righteous";
        text-align: center;
        padding: 20px 0;
    }
    p{
        font:  18px;
        line-height: 22px;
        span{
            color: $primary-color;
            font-weight: bold;
        }
    }

    .contenedor-seccion{
        max-width: 1100px;
        margin: auto;

    }
    .fila{
        display: flex;
        .col{
            width: 50%;
            ul{
                list-style: none;
                li{
                    margin: 12px 0;
                    strong{
                        display: inline-block;
                        color: $primary-color;
                        width: 130px;
                    }
                }
                span{
                    background-color: $primary-color;
                    padding: 3px;
                    font-weight: bold;
                    border-radius: 5px;
                }
            }
            h3{
                font-size: 28px;
                font-family: "Righteous";
                margin-bottom: 25px;
            }
        }
    }
}


.contenedor-intereses{
    display: flex;
    flex-wrap: wrap;
    .intereses{
        display: flex;
        width: 100px;
        height: 100px;
        background-color: #252A2E;
        border-radius: 10px;
        margin: 0 15px 15px 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: .3s;
    }
    .intereses:hover{
        background-color: $primary-color;
    }
    .intereses i{
        font-size: 30px;
        margin-bottom: 10px;
    }
}
.arrowdown i{
    position: relative;
    top: 100px;
    font-size: 60px;
    color: white;
}
.arrowdown i:hover{
    color: $primary-color;
}

