@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
.skills, html {
  background-color: #1e2326;
  color: #fff;
  padding: 50px 20px;
}
.skills .contenedor-seccion, html .contenedor-seccion {
  max-width: 1100px;
  margin: auto;
}
.skills h2, html h2 {
  font-size: 42px;
  font-family: "Righteous";
  text-align: center;
  padding: 20px 0;
}
.skills .fila, html .fila {
  display: flex;
}
.skills .fila .col, html .fila .col {
  width: 50%;
  padding: 0 20px;
}
.skills .fila .col h3, html .fila .col h3 {
  font-size: 28px;
  font-family: "Righteous";
  margin-bottom: 25px;
}
.skills .skill > span, html .skill > span {
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
}
.skills .skill .barra-skill, html .skill .barra-skill {
  height: 8px;
  width: 80%;
  background-color: #131517;
  position: relative;
  margin-bottom: 30px;
}
.skills .skill .barra-skill span, html .skill .barra-skill span {
  position: absolute;
  height: 40px;
  width: 40px;
  background-color: #1CB698;
  border-radius: 50px;
  line-height: 40px;
  text-align: center;
  top: -17px;
  right: -15px;
  font-size: 14px;
}

@keyframes javascript {
  0% {
    width: 0%;
  }
  100% {
    width: 45%;
  }
}
@keyframes htmlcss {
  0% {
    width: 0%;
  }
  100% {
    width: 80%;
  }
}
@keyframes python {
  0% {
    width: 0%;
  }
  100% {
    width: 95%;
  }
}
@keyframes sql {
  0% {
    width: 0%;
  }
  100% {
    width: 30%;
  }
}
@keyframes comunic {
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}
@keyframes tE {
  0% {
    width: 0%;
  }
  100% {
    width: 80%;
  }
}
@keyframes creatividad {
  0% {
    width: 0%;
  }
  100% {
    width: 50%;
  }
}
@keyframes dedicacion {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
.sobremi, html {
  background-color: #1e2326;
  color: #fff;
  padding: 50px 20px;
}
.sobremi h2, html h2 {
  font-size: 42px;
  font-family: "Righteous";
  text-align: center;
  padding: 20px 0;
}
.sobremi p, html p {
  font: 18px;
  line-height: 22px;
}
.sobremi p span, html p span {
  color: #1CB698;
  font-weight: bold;
}
.sobremi .contenedor-seccion, html .contenedor-seccion {
  max-width: 1100px;
  margin: auto;
}
.sobremi .fila, html .fila {
  display: flex;
}
.sobremi .fila .col, html .fila .col {
  width: 50%;
}
.sobremi .fila .col ul, html .fila .col ul {
  list-style: none;
}
.sobremi .fila .col ul li, html .fila .col ul li {
  margin: 12px 0;
}
.sobremi .fila .col ul li strong, html .fila .col ul li strong {
  display: inline-block;
  color: #1CB698;
  width: 130px;
}
.sobremi .fila .col ul span, html .fila .col ul span {
  background-color: #1CB698;
  padding: 3px;
  font-weight: bold;
  border-radius: 5px;
}
.sobremi .fila .col h3, html .fila .col h3 {
  font-size: 28px;
  font-family: "Righteous";
  margin-bottom: 25px;
}

.contenedor-intereses {
  display: flex;
  flex-wrap: wrap;
}
.contenedor-intereses .intereses {
  display: flex;
  width: 100px;
  height: 100px;
  background-color: #252A2E;
  border-radius: 10px;
  margin: 0 15px 15px 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}
.contenedor-intereses .intereses:hover {
  background-color: #1CB698;
}
.contenedor-intereses .intereses i {
  font-size: 30px;
  margin-bottom: 10px;
}

* {
  box-sizing: border-box;
  font-family: "Work Sans";
  margin: 0;
  padding: 0;
}

html body {
  scroll-behavior: smooth;
}
html body .contenedor-header {
  background-color: #1e2326;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
}
html body .contenedor-header header {
  max-width: 1100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
}
html body .contenedor-header header nav ul a {
  text-align: none;
  color: #fff;
  margin: 0 15px;
  padding: 3px;
  transition: 0.5s;
  text-decoration: none;
}
html body .contenedor-header header nav ul a:hover {
  color: #1CB698;
}
html body .contenedor-header header ul {
  display: flex;
  list-style: none;
}
html body .contenedor-header header .logo a {
  font-family: "Righteous";
  font-size: 36px;
  color: #1CB698;
  text-decoration: none;
}
html body .nav-responsive {
  background-color: #1CB698;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  display: none;
}
html .inicio {
  background: linear-gradient(to top, rgba(30, 35, 38, 0.8), rgb(38, 35, 38)), url(../img/fondo.jpg);
  background-size: cover;
  height: 100vh;
  color: #fff;
  display: flex;
  align-items: center;
}
html .inicio .contenedor-banner {
  padding: 20px;
  background: color #1e2326;
  max-width: 350px;
  margin: auto;
  text-align: center;
  border-radius: 40px;
}
html .inicio .contenedor-banner h1 {
  margin-top: 40px;
  font-size: 32px;
  font-family: "Righteous";
}
html .inicio .contenedor-banner h2 {
  font-size: 15px;
  font-weight: normal;
}
html .inicio .contenedor-banner .redes {
  color: #fff;
  display: inline-block;
  text-decoration: none;
  border: 1px solid #fff;
  border-radius: 100%;
  width: 42px;
  height: 42px;
  line-height: 42px;
  margin: 40px 5px;
  font-size: 20px;
  transition: 0.3s;
}
html .inicio .contenedor-banner .redes:hover {
  background-color: #1CB698;
}
html .inicio .contenedor-banner .contenedor-img {
  margin: auto;
}
html .inicio .contenedor-banner .contenedor-img img {
  margin-top: 40px;
  border: 10px solid #1CB698;
  display: block;
  width: 200px;
  margin: auto;
  border-radius: 100px;
}

/*# sourceMappingURL=styles.css.map */
